#brandlogo {
    color: #fff;
    background: teal;
    height: auto;
  }
  

  .navbar  .navbar-brand{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    background: teal;
    padding: 1% 1% 1% 1%;
    margin: -1% 2% -1% 2%;
  }

  body{
      background-color: lightgray;
  }